body {
	font-family: 'Open Sans', sans-serif;
	color: #6A6A6A;
	font-weight: 300;
}

h1 {
	font-size: 60px;
	font-weight: 100;
	margin: 10px 0px 0px 0px;
}

h2 {
	font-size: 32px;
	margin-top: 40px;
	margin-bottom: 10px;
}

h3 {
	font-size: 32px;
}

h4 {
	font-size: 18px;
	margin: 0px;	
}

p {
	margin-bottom: 10px;
}

hr {
	border: 0;
	height: 3px;
	background-color: #6A6A6A;
	margin-bottom: 30px;
}

.container {
	max-width: 960px;
}

.title-image {
	margin-top: 10px;
}

.title-slim {
	font-weight: 100;
}

.text-muted {
	color: #BCBBBB;
}

.works-image {
	margin-top: 10px;
}

a:link {
    color: #6A6A6A;
}

a:visited {
    color: #6A6A6A;
}

a:hover {
    color: #6A6A6A;
}

a:active {
    color: #6A6A6A;
}